<div class='songs'>
    <ol>
            <li>
                <div class='music'>
                    <p class='boxOne'>
                        <span class='rankStyle'>#<%= song.rank %></span>
                        <span class='streamStyle'>(<%= song.streams %> streams)<span>
                    </p>
                    <div class='boxTwo'>
                        <p class='titleStyle'><%= song.title %></p>
                        <p class='artistStyle'>by <%= song.artist %></p>
                        <p class='pubStyle'>publication date: <%= song.publicationDate %></p>
                    </div>
                </div>
            </li>
    </ol>
</div>